<section class="thirteen columns">
    <h1>Research Experience</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>IIIT-Hyderabad, India</address><time>2017 to Present</time></span>
        </header>
        <p>Working on image tampering detection and segmentation using convolutional neural networks under <a href target="https://faculty.iiit.ac.in/~jawahar/">CV Jawahar</a>.</p>
    </article>
    <article>
        <header>
            <h1>Research Intern</h1>
            <span><address>INRIA, France</address><time>2016 Summer</time></span>
        </header>
        <p>Worked on action recognition from RGBD data. Proposed a CNN and LSTM hybrid model which uses a compact bilinear pooling model for obtaining a global representation of video. Project was undertaken under the guidance of <a href target="http://www-sop.inria.fr/members/Francois.Bremond/">Francois Bremond</a>.</p>
    </article>
    <article>
        <header>
            <h1>Research Intern</h1>
            <span><address>Indian Institute of Science</address><time>2015 Summer</time></span>
        </header>
        <p>Worked on action recognition using 3D skeletal joints obtained using kinect sensor. Proposed an approach which obtained excellent results on standrad datasets. Project was undertaken under the guidance of <a href target="http://www.ee.iisc.ac.in/people/faculty/soma.biswas/index.html">Soma Biswas</a></p>
    </article>
</section>
